.About {
    padding: 10px 50px 25px;
    border: 1px solid #efefef;
    border-radius: 25px;
    box-shadow: 1px 2px 11px 0 rgba(120,135,182,.1);
    margin-top:1em;
    transition: transform 500ms;
}

.About:hover {
    transform: translateY(1px);
}