.Experience {
    width: 50%;
    padding: 50px;
    border: 1px solid #efefef;
    border-radius: 25px;
    box-shadow: 1px 2px 11px 0 rgba(120,135,182,.1);
    margin-top:1em;
    transition: transform 500ms;
}

.Experience:hover {
    transform: translateY(1px);
}

@media (max-width: 1530px) {
    .Experience {
        width: 100%;
    }
}