.Header {
    padding: 40px 10px 40px 40px;
    height: 250px;
    display: flex;
}

.photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

@media (max-width: 1050px) {
    .Header {
        padding: 25px;
        justify-content: center;
    }
}

.icons {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 5px;
    transition: all 0.2s ease 0s;
}

.icons:hover {
    transform: translateY(3px);
}