.App {
    display: grid;
    grid-template-columns: 30px auto auto;
}

@media (max-width: 1050px) {
    .App {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }
}